.App {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.hook {
  border: 1px dashed blue;
  padding: 10px;
}
